.agenda {  }

.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
    width: 40px;
    font-size: 36px;
    line-height: 36px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.agenda .agenda-date .shortdate {
    font-size: 0.75em;
}

.agenda .agenda-time { width: 180px; }

.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }